**/.vscode
**/node_modules
**/*.abi
**/*.bin
**/*.log
.env
.encryptedKey.json
**/artifacts
**/cache
**/target
**/gas-report.txt
**/coverage.json
**/coverage
**/deployments
**/typechain-types

# Compiler files
**/cache/
**/out/

# Ignores development broadcast logs
!/broadcast
**/broadcast/*/31337/
**/broadcast/**/dry-run/

# Docs
**/docs/