**/.vscode
**/node_modules
**/*.abi
**/*.bin
**/*.log
.env
.encryptedKey.json
**/artifacts
**/cache
**/target
**/gas-report.txt
**/coverage.json
**/coverage
**/deployments
**/typechain-types

**/cache/
**/out/
**/broadcast/**/
**/docs/
**/.gas-snapshot

**/coverage.txt